{% extends 'base.html.twig' %}

{% block title %}
    {{ actu }}
{% endblock %}

{% block body %}
    {# header components #}
    {% include 'layout.html.twig' %}
    <main>
        <!-- ===== Hero Start ===== -->
        <section class="gj do ir hj sp jr i pg">
            <!-- Hero Images -->
            <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
                <img src="{{ asset('images/shape-01.svg') }}" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
                <img src="{{ asset('images/shape-02.svg') }}" alt="shape" class="xc 2xl:ud-block h u p va" />
                <img src="{{ asset('images/shape-03.svg') }}" alt="shape" class="xc 2xl:ud-block h v w va" />
                <img src="{{ asset('images/shapehc.png') }}" alt="shape" class="h q r" />
                <img src="{{ asset('images/scout16.png') }}" alt="Woman" class="h q r ua" />
            </div>

            <!-- Hero Content -->
            <div class="bb ze ki xn 2xl:ud-px-0">
                <div class="tc _o">
                    <div class="animate_left jn/2">
                        <h1 class="fk vj zp or kk wm wb">
                            "
                            <span style="color:red">
                                Scout un jour
                            </span>
                            , scout toujours!"
                        </h1>
                        <p class="fq">
                            "Scout un jour, scout toujours» ! Fondé par l'anglais Robert Stephenson Smyth Baden Powell, le scoutisme est bien plus qu'une simple organisation de jeunesse. Tout au long de sa vie, cet homme s'est pleinement dévoué à transformer celle des jeunes en leur enseignant des valeurs jugées fondamentales selon lui, telles que la fraternité, la loyauté, la foi et le respect de la nature."
                        </p>

                        <div class="tc tf yo zf mb">
                            <a href="#!" class="ek jk lk gh gi hi rg ml il vc _d _l">
                                Actualité du jours
                            </a>

                            <span class="tc sf">
                                <a href="#!" class="inline-block ek xj kk wm">
                                    Si vous souhaitez nous contacter : (+261) 34 03 651 11
                                </a>
                                <span class="inline-block">
                                    Si vous avez des questions ou des préoccupations
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'component/rejoindre.html.twig' %}

        <!-- ===== Blog Grid Start ===== -->
        <section class="ji gp uq">
            <div class="bb ye ki xn vq jb jo">
                <div class="wc qf pn xo zf iq">
                    {% for post in posts %}
                        <!-- Blog Item -->
                        <div class="animate_top sg vk rm xm">
                            <div class="c rc i z-1 pg">
                                <img class="w-full" src="{{ asset('images/blog-01.png') }}" alt="Blog" />

                                <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                                    <a href="{{ path('app_actualite_show', {'post': post.id}) }}" class="vc ek rg lk gh sl ml il gi hi">
                                        Read More
                                    </a>
                                </div>
                            </div>

                            <div class="yh">
                                <div class="tc uf wf ag jq">
                                    <div class="tc wf ag">
                                        <img src="{{ asset('images/icon-man.svg') }}" alt="User" />
                                        <p>
                                            {{ post.title }}
                                        </p>
                                    </div>
                                    <div class="tc wf ag">
                                        <img src="{{ asset('images/icon-calender.svg') }}" alt="Calender" />
                                        <p>
                                            {{ post.postedAt|date('d/m/Y') }}
                                        </p>
                                    </div>
                                </div>
                                <h4 class="ek tj ml il kk wm xl eq lb">
                                    <a href="{{ path('app_actualite_show', {'post': post.id}) }}">
                                        {{ post.category.name }}
                                    </a>
                                </h4>
                                <p>
                                    {{ post.content | slice(0,200) }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="mb lo bq i ua">
                    <nav>
                        <ul class="tc wf xf bg">
                            <li>
                                {% if currentPage > 1 %}
                                    <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an" href="{{ path('app_actualite', {'page': currentPage - 1}) }}">
                                        <svg class="th lm ml il" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.93884 6.99999L7.88884 11.95L6.47484 13.364L0.11084 6.99999L6.47484 0.635986L7.88884 2.04999L2.93884 6.99999Z" />
                                        </svg>
                                    </a>
                                {% endif %}
                            </li>
                            {% for page in 1 .. noOfPages %}

                                {% if page == currentPage %}
                                    <li>
                                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an" href="{{ path('app_actualite', {'page': page}) }}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an" href="{{ path('app_actualite', {'page': page}) }}">
                                            {{ page }}
                                        </a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                            <li>
                                {% if currentPage < noOfPages %}
                                    <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an" href="{{ path('app_actualite', {'page': currentPage + 1}) }}">
                                        <svg class="th lm ml il" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.06067 7.00001L0.110671 2.05001L1.52467 0.636014L7.88867 7.00001L1.52467 13.364L0.110672 11.95L5.06067 7.00001Z" fill="#fefdfo" />
                                        </svg>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            <!-- Pagination -->
            </div>
        </section>
        <!-- ===== Blog Grid End ===== -->

        <!-- ===== FSM Start ===== -->
        {% include 'fsmlayout.html.twig' %}
    <!-- ===== FSM End ===== -->
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
