<section class="pj vp mr">
    <!-- Section Title Start -->
    <div x-data="{ sectionTitle: `Firaisan'ny SKOTISMA eto Madagasikara`, sectionTitleText: `Ny Firaisan'ny Skotisma eto Madagasikara, federasiona nasionalin'ny fikambanana scout eto Madagasikara.`}">
        <div class="animate_top bb ze rj ki xn vq">
            <h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b"></h2>
            <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
        </div>
    </div>
    <!-- Section Title End -->
    <div class="bb ze ah ch pm hj xp ki xn 2xl:ud-px-49 bc">
        <div class="wc rf qn zf cp kq xf wf">
            <a href="#!" class="rc animate_top">
                <img class="th wl ml il zl om" src="{{ asset('images/fsm.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/fsm.png') }}" alt="Clients" />
            </a>
            <a href="#!" class="rc animate_top">
                <img class="th wl ml il zl om" src="{{ asset('images/lys-removebg-preview.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/lys-removebg-preview.png') }}" alt="Clients" />
            </a>
            <a href="#!" class="rc animate_top">
                <img class="tk ml il zl om" src="{{ asset('images/AIM.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/AIM.png') }}" alt="Clients" />
            </a>
            <a href="#!" class="rc animate_top">
                <img class="tk ml il zl om" src="{{ asset('images/fanilo.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/fanilo.png') }}" alt="Clients" />
            </a>
            <a href="#!" class="rc animate_top">
                <img class="tk ml il zl om" src="{{ asset('images/tily.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/tily.png') }}" alt="Clients" />
            </a>
            <a href="#!" class="rc animate_top">
                <img class="tk ml il zl om" src="{{ asset('images/panazava.png') }}" alt="Clients" />
                <img class="xc sk ml il zl nm" src="{{ asset('images/panazava.png') }}" alt="Clients" />
            </a>
        {# <a href="#!" class="rc animate_top">
            <img class="tk ml il zl om" src="{{ asset('images/aimo.png') }}" alt="Clients" />
            <img class="xc sk ml il zl nm" src="{{ asset('images/aimo.png') }}" alt="Clients" />
        </a> #}
        </div>
    </div>
</section>
